<%- include ("Partials/header.ejs") %>
    <body>
        <div class="container">
            <h1 class="text-primary">Search for Weather Report Here <span><i class="fa fa-cloud" aria-hidden="true"></i></span></h1>
            <form action="/id" method="GET">
                <div class="form-group d-flex">
                    <label for="input">Enter the City Name</label>
                    <input type="text" name="city" id="input" class="form-control">
                </div>
                <button type="submit" class="btn btn-danger">search <i class="fa fa-bolt" aria-hidden="true"></i></button>
            </form>
        </div>
        <%- include ("Partials/footer.ejs") %>